version: '3.9'
services:
  web:
    build: .
    container_name: devopsgroup_flask
    ports:
      - "5000:5000"
    environment:
      - FLASK_APP=app.py
      - FLASK_DEBUG=1
      - PYTHONUNBUFFERED=1
    restart: always
